h1{
    font-size: 80px;
    background-color:#2eab94;
    width: fit-content;
    padding:15px;
    margin: auto;
    margin-top: 60px; 
    color: aliceblue;
    border-radius: 10px;
    text-shadow: 3px 2px #6d6060;
    box-shadow: 4px 2px #328475;
}
body{
    background-color: #a1eded;
}
.emoji-card{
    width: 400px;
    height: 400px;
    text-align: center;
    background-color: #fff;

}
p{
    font-size: 23px;
    padding: 20px;
}
.symbol{
    font-size: 4rem;
    padding: 20px;
}
.Card{
    display: flex;
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
}